export(arrondi)
export(as.binary)
export(convertAll)
export(is.defined)
export(isnt.na)
export(mean_trunc)
export(nb.decimal)
export(not.in)
export(nna)
export(nnonna)
export('%ni%')
export(paste_date)
export(relevel_factor)
export(recode_from_codebook)
export(rescale_norm)
export(round_to_str)
export(spread_mult)
export(str_as_function)
export(str_clean)
export(str_index)
export(unaggregate)


import(lubridate)
importFrom(pander, trim.spaces)
importFrom(stringi, stri_trans_general)
import(stringr)
import(dplyr)
import(tidyr)
import(DescTools)
import(manageR)
